{% extends "base_generic.html" %}

{% load static %}

{% block page_title %}
  <h1 class="h2">Reading</h1>

{% endblock page_title %}

{% block content %}
  <form class="row g-3">

    <div class="col-lg-3 col-sm-6">
      <label for="startDate">Start</label>
      <input id="startDate" class="form-control" type="date"/>
      <span id="startDateSelected"></span>
    </div>
    <div class="col-lg-3 col-sm-6">
      <label for="endDate">End</label>
      <input id="endDate" class="form-control" type="date"/>
      <span id="endDateSelected"></span>
    </div>
    <div class="col-lg-3 col-sm-6">
      <label>&nbsp;</label>
      <select class="form-select" id="form-dropdown" aria-label="Device module selector">
      </select>
    </div>

    <div class="col-lg-3 col-sm-6">
      <label>&nbsp;</label>
      <button type="submit" class="btn btn-primary mb-3" id="form-submit">Submit</button>
    </div>

  </form>

  <h2>Chart</h2>
  <div id="chartContainer"></div>

  <h2>Section title</h2>
  <div id="tableContainer"></div>
{% endblock content %}

{% block js_scripts %}
  <script src="{% static 'shedpi_hub_dashboard/js/reading.js' %}" type="module"></script>
{% endblock js_scripts %}
