
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShedPi</title>
    <link rel="stylesheet" href="{% static 'shedpi_hub_dashboard/css/landing.css' %}">
  </head>
  <body>
    <header>
      <h1>Shed Pi data</h1>
    </header>
    <div class="contents" data-json-feed="{% static 'shedpi_hub_dashboard/dummy_data.json' %}">
    </div>
    <footer>
    </footer>
    <script src="{% static 'shedpi_hub_dashboard/js/index.js' %}"></script>
  </body>
</html>
